.header-content {
	width: 100%;
	padding: 12px 0 15px;
	border-top: 3px solid #1281C3;
}
a.header-content__logo {
    display: flex;
	align-items: center;
	text-decoration:none;
	color: #4F4F4F;
}
a.header-content__logo p {
    font-family: 'Roboto-Bold';
    font-size: 2.56em;
    margin: 0 0 10px 0px;
}
a.header-content__logo:hover {
	color: #000;
}
.header-content__address {
    display: flex;
    align-items: start;
    margin: 25px 0;
}
.header-content__address .icon {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}
.header-content__address p {
	font-size: 1.2em;
	line-height: 1.2;
	margin: 0;
}
.header-content__address a.link {
	color: #208AC9;
	text-decoration:underline;
	font-size: 1.2em;
	line-height: 1.4;
}
.header-content__address a.link:hover {
	color: #208AC9;
	text-decoration:none;
}
.header-content__hours {
	display: flex;
    align-items: start;
    margin: 20px 0;
}
.header-content__hours .icon {
	margin: 0 5px 0 0;
}
.header-content__hours p {
	font-size: 1.2em;
	line-height: 1.2;
	margin: 0;
}
.header-content__contacts {
    text-align: right;
    margin: 10px 0;
}
.header-content__contacts p {
	font-size: 1.2em;
	line-height: 1.2;
}
.header-content__contacts a.phone {
	font-size: 1.6em;
	color:#000;
	text-decoration: none;
}
.header-content__contacts a.phone:hover {
	color:#000;
	text-decoration: underline;
}
.header-content__contacts a.callback {
	color: #208AC9;
	text-decoration:underline;
	font-size: 1.2em;
	line-height: 1.4;
}
.header-content__contacts a.callback:hover {
	color: #208AC9;
	text-decoration:none;
}
.header-content__contacts a.callback .fas {
    font-size: 1.4em;
    display: inline-block;
    margin: 0 10px 0 0;
    transform: rotate(-45deg);
}
.header-info {
	background:#CED2D6;
}
.bg-light {
    background-color: transparent !important;
}
.header-info {
	width:100%;
}
ul.main-menu {
	display: flex;
}
ul.main-menu li {
	display: block;
	margin: 0 20px;
}
.navbar-nav .nav-link {
    padding: 0 20px !important;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #0079C1;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #0079C1;
}
.header-info a.basket {
	color: #208AC9;
	text-decoration:underline;
	font-size: 1.2em;
	line-height: 1.4;
	font-family: 'Roboto-Bold';
}
.navbar-text {
    min-width: 10%;
    margin: 0 12px;
}
.header-info a.basket img {
    margin: 0 7px 0 0;
}
.form-inline {
    width: 32%;
	margin: 0px 20px;
	position: relative;
}
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 0;
    border: 0;
    font-size: 12px;
    font-family: 'Roboto-Bold';
    color: #000;
    padding: 10px 15px 12px 40px;
    height: auto;
}
::-webkit-input-placeholder {color:#4F4F4F; text-decoration: underline;}
::-moz-placeholder          {color:#4F4F4F; text-decoration: underline;}
:-moz-placeholder           {color:#4F4F4F; text-decoration: underline;}
:-ms-input-placeholder      {color:#4F4F4F; text-decoration: underline;}
.form-inline .btn {
    color: #4F4F4F;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
}
.header-info a.basket:hover {
    text-decoration: none;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    outline: none;
}
.close:focus {
    outline: none;
    border:0;
}
.modal-content {
    padding: 20px;
}
.modal-content ::-webkit-input-placeholder {color:#4F4F4F; text-decoration: none;}
.modal-content ::-moz-placeholder          {color:#4F4F4F; text-decoration: none;}
.modal-content :-moz-placeholder           {color:#4F4F4F; text-decoration: none;}
.modal-content :-ms-input-placeholder      {color:#4F4F4F; text-decoration: none;}
.modal-content  .form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.modal-content .form-control {
    background-color: #fff;
    padding: 20px 15px;
}
.modal-content textarea.form-control {
    height: 150px;
    padding: 10px 15px;
}
.modal-content  h3 {
    margin: 15px 0 20px 0;   
}